.container{
    max-width: 550px;
    margin: 30px auto;
    width: 100%;
    grid-area: b;
}
.userPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    &_header{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        position: relative;
        div{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        svg{
            font-size: 30px;
            &:hover{
                cursor: pointer;
            }
        }
         img{
             height: 50px;
             width: 50px;
             border-radius: 50%;
         }
    }
    &_img{
        display: flex;
        flex-direction: column;
        gap: 15px;
        &_signs{
            text-align: left;
            display: flex;
            align-items: center;
            gap: 15px;
            justify-content: space-between;
            &_heart{
                display: flex;
                gap: 20px;
                div{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
            svg{
                font-size: 23px;
                color: #0c0c0c;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        &_footer{
            margin-top: 15px;
            display: flex;
            justify-content: flex-start;
            gap: 15px;
            &_boldS{
                font-weight: bold;
            }
        }
    }
}
.hr{
    color: black;
}
.userInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dotsDiv{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #888686;
    position: absolute;
    z-index: 1;
    right: 0%;
    top: 100%;
    ul li{
        margin: 10px 0;
        border-bottom: 1px solid black;
        padding-bottom:5px ;
        font-weight: bold;
        transition: 0.1s linear;
        &:hover{
            cursor: pointer;
            border-bottom-color: #e05c0b;
            color: #e05c0b;
        }
    }
}
.inActive{
    display: none!important;
}
@media(max-width: 900px) {
    .userPost_img{
        img{
            width: 80%;
            margin: auto;
        }
    }
}